{% extends "::base.html.twig" %}

{% block title %}blog_cuisineBackBundle:AdminRecette:modifierRecette{% endblock %}

{% block body %}
<h1>Welcome to the AdminRecette:modifierRecette page</h1>
{% endblock %}
