{% extends "::base.html.twig" %}

{% block title %}test{% endblock  %}
{% block body %}
    {{ parent() }}
    <a href='{{path('index')}}'>
        <div class="header">
                RETOUR A L'ACCUEIL
        </div>
    </a>
{% endblock %}