{% extends "::base.html.twig" %}

{% block title %}test{% endblock  %}
{% block body %}
    {{ parent() }}
    <a href='{{path('index')}}'>
        <div class="header">
                RETOUR A L'ACCUEIL
                
        </div>
    </a>
     <a href='{{path('home_page')}}' target="_blank">
        <span class="header">
                RETOUR AU SITE
        </span>
    </a>
{% endblock %}