{% extends "::base.html.twig" %}

{% block title %}test{% endblock  %}
{% block body %}
    {{ parent() }}
    <div class="row">
        <a href='{{path('index')}}'>
            <div class="header">
                RETOUR A L'ACCUEIL

            </div>
        </a>
    </div>
    <div class="row">
        <div class="adminRetourSite row">
            <a href='{{path('home_page')}}' target="_blank">
                <span class="header">
                    RETOUR AU SITE
                </span>
            </a>
        </div>
    </div>
{% endblock %}