{% extends "blog_cuisineBackBundle:Admin:adminfooter.html.twig" %}

{% block body %}
     {{ parent() }}
    bienvenue sur les listes de recettes

    <div class="container">
        <div class="row">
            <div class ="themeListe">
                {{form(form)}}
            </div>

        </div>



    </div>
{% endblock %}